<html>
    <head>
        <title>Questions</title>
    </head>
    <body>
     
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
 	<link rel="stylesheet" type="text/css" href="static/blog/blog.css>
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    {% for post in posts %}
        
      <p class="question">{{post.Question}}</p>
      <ul class="choice">
      <input type="radio" name="q1" value="a" id="q1a"><label for="q1a">{{post.choice1}}</label><br/>
      <input type="radio" name="q1" value="b" id="q1b"><label for="q1b">{{post.choice2}}</label><br/>
      <input type="radio" name="q1" value="c" id="q1c"><label for="q1c">{{post.choice3}}</label><br/>
      <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">{{post.choice4}}</label><br/>
      <input type="radio" name="q1" value="d" id="q1d"><label for="q1d">{{post.choice5}}</label><br/>

      </ul>
            
    {% endfor %}
   </body>
</html>
